{% extends 'base.html' %}
{% block title %}
    Connexion | HelpDesk
{% endblock %}

{% block content %}

<div class="">
    <div class="mb-4 flex justify-between intems-center">
        <h1 class="text-2xl font-bold">
            Connexion | HelpDesk
            {{ utilisateur }}
        </h1>
    </div>

    <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.email }}
        {{ form.password }} 

        <div class="flex justify-end space-x-2">
            <button type="submit" class="btn btn-success">Se connecter</button>
        </div>
        <div class="flex justify-center space-y">
            <p>
                <span>Vous n'avez pas de compte ?</span>
                <a href="{%url 'utilisateur_register' %}">Inscrivez-vous</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}