{% extends 'base.html' %}
{% block title %}
Liste des utilisateurs
{% endblock %}

{% block content %}
<div class="w-full bg-base-200">
    <div class="mb-4 flex justify-between icons-center">
        <h1 class="text-2xl font-bold">Liste des utilisateurs</h1>
        <a href="{%url 'add_utilisateur' %}" class="btn btn-primary">
            <i class="fa fa-circle-plus"></i>
            Ajouter un utilisateur
        </a>
    </div>
    <div class="space-y-4 w-full">
        {% for utilisateur in utilisateurs %}
        <div class="p-4 bg-base-100 rounded-lg w-full flex justify-between items-center">
            <div class="space-y-2">
                <p class="font-bold text-lg">{{ utilisateur.nom }}  <span class="btn btn-info btn-sm">{{ utilisateur.role}}</span></p>
                <p class="text-sm">{{ utilisateur.prenom }}</p>
                <p class="text-sm">{{ utilisateur.address }}</p>
                <p class="text-sm">{{ utilisateur.email }}</p>
            </div>
            <div class="space-y">
                <a href="{%url 'update_utilisateur' utilisateur.id %}" class="btn btn-success">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="{%url 'delete_utilisateur' utilisateur.id %}" class="btn btn-error">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}