{% extends 'base.Html' %}
{% block title %}
Liste des domaines
{% endblock %}

{% block content %}
<div class="w-full bg-base-200">
    <div class="mb-4 flex justify-between icons-center">
        <h1 class="text-2xl font-bold">Liste des domaines</h1>
        <a href="{%url 'add_domaine' %}" class="btn btn-primary">
            <i class="fa fa-circle-plus"></i>
            Ajouter un domaine
        </a>
    </div>
    <div class="space-y-4 w-full">
        {% for domaine in domaines %}
        <div class="p-4 bg-base-100 rounded-lg w-full flex justify-between items-center">
            <div class="space-y-2">
                <p class="font-bold text-lg">{{ domaine.intitule }}</p>
                <p class="text-sm">{{ domaine.description }}</p>
            </div>
            <div class="space-y">
                <a href="{%url 'update_domaine' domaine.id %}" class="btn btn-success">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="{%url 'delete_domaine' domaine.id %}" class="btn btn-error">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}