<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HelpDesk{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <!-- Affichage des messages -->
     {%if messages %}
     <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} flex justify-center mb-4">
                <span><i class="fa fa-refresh fa-spin"></i></span>
                <b>{{ message }}</b>
            </div>
        {% endfor %}
     </div>
     {% endif %}

    <div class="flex justify-center mt-32">
        <div class="flex flex-col w-3xl bg-base-200 rounded-xl p-6">
            <div class="w-full h-fit">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>